################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab2Calculator/FileContentIndex
/.vs/Lab2Calculator/v17/.suo
/.vs/Lab2Calculator/v17/.suo
